.container{
display: flex;
/*padding-bottom:0px;
 */
 /*margin: 0px;*/
 padding: 0px;
}

.nav{
display: flex;
justify-content: space-between;
}

.nav a{
text-decoration: none;
font-size: 27px;
padding: 15px 15px 0px 15px;
font-family: 'Orbitron', sans-serif;
}

.nav-right,.nav-left{
padding: 30px 30px 0px 30px;

}
.nav-right{
display: flex;
padding-left: 50px;
}

.nav-left a:hover{
text-decoration: underline;
}
.nav-left a:visited{
	color: rgb(111, 59, 231);
}

.nav-left img{
	width: 60px;
	height: 50px;
	padding-right: 20px;
}
.nav-left a{
	padding-left: 30px;
}
.login{
padding: 6px 10px 6px 10px;
border: 3px solid rgb(79, 4, 255);
border-radius: 20px;
margin-right: 20px; 
}

.login:hover{
	background:  rgb(111, 59, 231);
}
.login a:hover{
color: white;
}


.myacc{
padding: 6px 10px 6px 10px;
border: 3px solid  rgb(79, 4, 255);
border-radius: 20px;
background:  rgb(111, 59, 231);
}
.myacc a{
color:white;
}

.myacc:hover{
background: white;
}

.myacc a:hover{
color:grey;
}

.site-footer {
border-top: 1px solid #ccc;
padding-top: 80px;
 }

.site-footer .bottom-footer {
background-color: #4a4c4e;
text-align: center;

padding: 20px 30px 30px 30px;
font-size: 14px;
justify-content: center;
text-align: center;
font-size: 0.875em; 
}

.site-footer .colophon {
color: #898b8d;
text-align: center;
}
