body {
    margin: 0px;
}

textarea {
    resize: none;
}

.panel-div {
    display: flex;
}

.side-panel {
    background: purple;
    width: 0px;
    height: 1000px;
    position: fixed;
    text-align: center;
    display: none;
}

.container-f {
    padding: 10px 0px 10px 1%;  
}

.top-panel {
    display: flex;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    justify-content: space-between;
}
  
.grid-container {
    height: 80vh;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 0.4fr 0.6fr;
    margin: 5px;
    gap: 10px 15px;
    grid-template-areas:
        "coding-area input-area"
        "coding-area output-area";
}

.coding-area {
    grid-area: coding-area; 
    padding: 5px 10px;
    font-size: 18px;
    height: 79vh;
    width: 100%;
}
  
.input-area { 
    grid-area: input-area;
    height: 100%;
    width: 99.5%;
    padding: 5px 10px;
    font-size: 18px;
    /* border: 2px solid black; */
}

.output-area { 
    grid-area: output-area;
    margin: 5px;
    padding: 5px 10px;
    font-size: 18px; 
    border: 1px dotted black;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.button {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: rgb(42, 90, 248);
    color: white;
    padding: 10px 28px;
    border-radius: 6px;
    font-size: 18px;
}

.output-heading {
    text-align: center;
}

.in-frame {
    width: 1800px;
    height: 800px;
    padding-top: 10px;
    padding-left: 30px;
    border: 2px solid black;
    border-radius: 30px;
    margin-left: 60px;
    margin-top: 10px;
}
.menu {
    color: white;
    font-size: 20px;
}

.site-footer {
    padding: 5px 0px 5px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.run-button {
    text-align: right;
    /* margin: auto; */
    margin-right: 20px;
}
.run-button a {
    font-size: 22px;
    /* font-family: "Montserrat", sans-serif; */
    color: rgb(27, 222, 30);
    background: transparent;
    font-family: "Orbitron", sans-serif;

    text-decoration: none;
    padding: 11px 20px 11px 20px;
    border: 3px solid rgb(27, 222, 30);
    border-radius: 20px;
}

.run-button a:hover {
    color: white;
    background: rgb(27, 222, 30);
    text-decoration: none;
}

/* 79, 4, 255 */

.save-button {
    text-align: right;
    /* margin: auto; */
    margin-right: 20px;
}
.save-button a {
    font-size: 22px;
    /* font-family: "Montserrat", sans-serif; */
    color: rgb(79, 4, 255);
    background: transparent;
    font-family: "Orbitron", sans-serif;

    text-decoration: none;
    padding: 11px 20px 11px 20px;
    border: 3px solid rgb(79, 4, 255);
    border-radius: 20px;
}

.save-button a:hover {
    color: white;
    background: rgb(79, 4, 255);
    text-decoration: none;
}

.run-save {
    display: flex;
    justify-content: flex-end;
}

.menu-exp {
    display: flex;
    border: 1px solid black;
    /* padding: 10px 10px 10px 10px; */
    padding-top: 5px;
    padding-left: 40px;
    margin-bottom: -10px;
    margin-top: -2px;
    margin-left: -35px;
    background: rgb(79, 4, 255);
    border-radius: 20px;
}

.open-menu {
    font-family: "Orbitron", sans-serif;

    padding: 0px 10px 30px 0px;
    color: white;
}

.hidden-menu-img {
    width: 50px;
    height: 50px;
    padding: 0px 20px 8px 1px;
}

.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
/* background: rgba(79, 4, 255, 1); */
    background: linear-gradient(
        to right,
        rgba(79, 4, 255, 1),
        rgba(54, 3, 173, 1)
    );
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 150px;
    border-right: 10px solid rgb(79, 4, 255);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.side-panel a {
    font-family: "Orbitron", sans-serif;

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.backk:hover {
color: rgb(79, 4, 255);
background: white;
}

.side-panel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}