.side-image {
  position: relative;
  padding-top: 70px;
}
.shad {
  margin-top: 30px;
  padding: 40px 80px 40px 80px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.text-muted {
  /* display: none; */
  margin: 0px;
}

.form-group {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.headreg {
  padding-bottom: 30px;
}

.input-class {
  display: flex;
  flex-direction: column;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.pass {
  /* position: absolute; */
  float: right;
  margin-left: -25px;
  margin-top: -49px;
  position: relative;
  z-index: 2;
  padding: 10px;
  width: 45px;
  height: 45px;
}
.icon {
  padding: 10px;
  width: 50px;
  position: absolute;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 50, 0.4));
  /* box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.19); */
}

/* #id_username,
#id_email,
#id_password1,
#id_password1,
#id_password2 { */
.txtb {
  width: 420px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  border-style: solid;
  border-color: transparent;
  background: white;

  /* position: absolute; */

  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}
.inp-block {
  padding: 20px;
}

.login-img img {
  width: 530px;
}

.login-shad {
  margin-top: 80px;
}
