.side-image {
  /* max-width: 500px; */
  position: relative;
  padding-top: 70px;
}
.shad {
  margin-top: 30px;
  padding: 40px 80px 40px 80px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.text-muted {
  display: none;
}

.form-group {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* margin: 50px; */
}

.headreg {
  padding-bottom: 30px;
}
