{% extends 'post-Base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load static %}
{% block Post-content %}

<div class="row shad">

  <div class="form-container">
    <form method="POST">
      {% csrf_token %}
      <h1 class="display-4 headreg">Update/Create New Post</h1>
      {{ form|crispy }}

      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">Update/Create</button>
      </div>
    </form>

  </div>

  <!-- <div class="side-image col-6">
      <img src="{% static 'images/register2.png' %}" style="width:100%">
    </div> -->
</div>



{% endblock Post-content %}
{% block side-content %}
<a href="{% url 'BegPage' %}">VIEW ALL POST</a>
<a href="{% url 'profile' %}">PROFILE</a>
<a href="{% url 'BegCreate' %}">CREATE NEW POST +</a>
<a href="{% url 'home' %}">HOME</a>
<a href="{% url 'learn' %}">LEARN PAGE</a>
<a href="{% url 'compile' %}">COMPILER</a>
{% endblock side-content %}