{% load static %}

<html>

<head>
  <meta charset="utf-8">
  <title>Compiler</title>
  <link href="{% static 'css/compiler2.css' %}" rel="stylesheet">
  <!-- <link href="{% static 'css/base.css' %}" rel="stylesheet"> -->

  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
</head>

<body>

  <!-- <div class="panel-div"> -->

  <div class="container-f" id="main">
    <div class="nav">
      <div class="nav-left">
        <a href="{% url 'home' %}"><img src="{% static 'images/newlogo.jpg' %}" alt="logo" style="width:60px; height:55px;"></a>

        <a href="{% url 'home' %}">HOME</a>
        <a href="{% url 'learn' %}">LEARN</a>
        <a href="{% url 'compile' %}">COMPILE</a>
      </div>
      <div class="nav-right">
        {% if user.is_authenticated %}
        <div class="userLogin">
          <a href="{% url 'profile' %}">
            Hi {{ user.username }} !
          </a>
        </div>
        <div class="signupBut">
          <a href="{% url 'logout' %}">Log Out</a>
        </div>
        {% else %}
        <div class="loginBut">
          <a href="{% url 'login' %}">Login</a>
        </div>
        <div class="signupBut">
          <a href="{% url 'register' %}">Sign up</a>
        </div>
        {% endif %}
      </div>

    </div>
    <!-- <hr class="line"> -->
  </div>
  <!-- </div> -->
  <form method="POST">
    <div class="grid-container">
      {% csrf_token %}
      <div class="coding-area">
        <!-- <p>Coding Area</p> -->
        {{ form.userCode }}
      </div>
      <div class="input-area">
        <!-- <p>Input Area</p> -->
        {{ form.customInput }}
      </div>
      <div class="output-area">
        <p class="output-heading">Output</p>
        <p> Output: {{ output_data.output }} </p>
        <p> Time(Sec): {{ output_data.time }}</p>
        <p> Memory(MB): {{ output_data.memory }}</p>
        {% if output_data.error %}
        <p> Error: {{ output_data.error }}</p>
        {% endif %}
      </div>
    </div>
    <div class="btn-wrapper" style="display:block; margin: 0 auto;">
      <input class="button" type="submit" value="Run">
    </div>
  </form>

  <!-- </div> -->
  <!-- <div class="site-footer">
    <div> Made with ❤ in India</div>
  </div> -->

  <script src="{% static 'js/compiler.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


</body>

</html>