{% extends 'base.html' %} {% load static %} {% block headcontent %}
<link href="{% static 'css/learn.css' %}" rel="stylesheet" />
{% endblock headcontent %} {% block content %}


<div class="container">
	<div class="boxes">
		<div class="cards-list">

			<!-- <div class="card 3">

				<div class="card_image">
					<img class="static-img" src="{% static 'images/learnImg/computer.png' %}" />
					<img src="{% static 'images/learnImg/computer.gif' %}" />
				</div>
				<div class="card_title">
					<p>Card Title</p>
				</div>
			</div> -->
			<a href="{% url 'BegPage' %}">
				<div class="card 3">

					<div class="card_image">
						<img class="static-img" src="{% static 'images/learnImg/person-sit.png' %}" />
						<img src="{% static 'images/learnImg/person-sit.gif' %}" />
					</div>
					<div class="card_title">
						<p>Beginner</p>
					</div>
				</div>
			</a>
			<!-- <div class="card 3">
				<div class="card_image">
					<img class="static-img" src="{% static 'images/learnImg/typing.png' %}" />
					<img src="{% static 'images/learnImg/typing.gif' %}" />
				</div>
				<div class="card_title">
					<p>Card Title</p>
				</div>
			</div> -->
			<!-- <div class="cards-list"> -->
			<!--
				<div class="card 3">
					<div class="card_image">
						<img class="static-img" src="{% static 'images/learnImg/typewriter.png' %}" />
						<img src="{% static 'images/learnImg/typewriter.gif' %}" />
					</div>
					<div class="card_title">
						<p>Card Title</p>
					</div>
				</div> -->
			<a href="{% url 'AdvPage' %}">
				<div class="card 3">
					<div class="card_image">
						<img class="static-img" src="{% static 'images/learnImg/night-type.png' %}" />
						<img src="{% static 'images/learnImg/night-type.gif' %}" />
					</div>
					<div class="card_title">
						<p>Advance</p>
					</div>
				</div>
			</a>
			<!-- <div class="card 3">
					<div class="card_image">
						<img class="static-img" src="{% static 'images/learnImg/isometric-computer.png' %}" />
						<img src="{% static 'images/learnImg/isometric-computer.gif' %}" />
					</div>
					<div class="card_title">
						<p>Card Title</p>
					</div>
				</div>-->

			<!-- <div class="cbox3 com-box"></div> -->
		</div>
		<!-- <div class="row2-cbox">
			<div class="cbox4 com-box"></div>
			<div class="cbox5 com-box"></div>
			<div class="cbox6 com-box"></div>
		</div> -->
	</div>
</div>

{% endblock content %}